p {
  font-family: Lato;
}

.fundo {
  width: 100%;
  height: 500px;
  background-image: url('../assets/images/tela1.jpeg');
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: 0 0;
}
